@model Works

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">@Model.WorkName</h1>
            <p><strong>Worker:</strong> @Model.WorkerName</p>

            <hr />

            @if (Model.WorkItems != null && Model.WorkItems.Any())
            {
                <div class="mb-3">
                    <h2>Uploaded Files</h2>
                    @foreach (var item in Model.WorkItems)
                    {
                        <div class="mb-2">
                            <a href="/Uploads/@item.ItemName" target="_blank">
                                @item.ItemName (@item.CreationDate)
                            </a>
                        </div>
                    }
                </div>
            }

            <h3 class="mt-4">Work Details</h3>
            <dl class="row">
                <dt class="col-sm-4">Work ID</dt>
                <dd class="col-sm-8">@Model.WorkId</dd>
                <dt class="col-sm-4">Created On</dt>
                <dd class="col-sm-8">@Model.WorkCreationDate.Value.ToShortDateString()</dd>
                <dt class="col-sm-4">Planned End Date</dt>
                <dd class="col-sm-8">@Model.WorkEndDate.Value.ToShortDateString()</dd>


            </dl>

            </div>
        </div>
    </div>

    <a asp-controller="Works" asp-action="Works" class="btn btn-outline-secondary mt-3">
         Back To Works
    </a>
</div>
