@model Works

<h1>@Model.WorkName</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <h2>Work Details</h2>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.WorkId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.WorkId)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.WorkName)
            </dt>
            <dd class="col-sm-8"> 
                @Html.DisplayFor(model => model.WorkName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Assignee)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Assignee)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.WorkCreationDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.WorkCreationDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.WorkEndDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.WorkEndDate)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary border">Back To Home</a>
</div>